.popup-edit__btn-close {
  position: absolute;
  top: -20px;
  right: -5px;
  background: transparent;
  border: none;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 500px) {
  .popup-edit__btn-close {
  }
}
