.todo__list-item {
  color: #ffffff;
  background-color: rgb(217, 198, 234);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 20px;
}
