@import url(./blocks/todo/todo.css);
@import url(./blocks/todo/__title/todo__title.css);
@import url(./blocks/todo/__form/todo__form.css);
@import url(./blocks/todo/__form-input/todo__form-input.css);
@import url(./blocks/todo/__form-btn/todo__form-btn.css);
@import url(./blocks/todo/__list/todo__list.css);
@import url(./blocks/todo/__list-item/todo__list-item.css);
@import url(./blocks/todo/__list-item-input/todo__list-item-input.css);
@import url(./blocks/todo/__list-item-text/todo__list-item-text.css);
@import url(./blocks/todo/__list-item-label/todo__list-item-label.css);
@import url(./blocks/todo/__list-item-svg/todo__list-item-svg.css);
@import url(./blocks/todo/__list-item-edit/todo__list-item-edit.css);
@import url(./blocks/todo/__list-item-delete/todo__list-item-delete.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup-edit/popup-edit.css);
@import url(./blocks/popup-edit/__title/popup-edit__title.css);
@import url(./blocks/popup-edit/__input/popup-edit__input.css);
@import url(./blocks/popup-edit/__btn-save/popup-edit__btn-save.css);
@import url(./blocks/popup-edit/__btn-cancel/popup-edit__btn-cancel.css);
@import url(./blocks/popup-edit/__btn-close/popup-edit__btn-close.css);
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(104, 45, 147);
}

.btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 22px;
  height: 22px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.6s ease;
}

.btn:hover {
  opacity: 1;
}
