@keyframes open {
  from {
    transform: translateX(-100%) rotateZ(-180deg);
  }
  to {
    transform: translateX(0) rotateZ(0);
  }
}

.popup {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  height: 0;
  transition: all 2s ease;
}

.open-popup {
  display: flex;
  visibility: visible;
  height: 100vh;
  opacity: 1;
  animation: open 2s ease;
}
